extends layout

block content
  h1 Books&middot;Available&middot;For&middot;Trade
  if isLoggedIn
    p display trade status of my requests
    p display trade status of other user requests
    p display my books
  //-Pagination
  div#paginationContainer
    - for( var i = Math.max( 0, currentPage - 5 ); i < pages; i++) {
      - if( i === currentPage ){
          a(href="#").pagination.bold= i
      - } else {
          a(href="#").pagination= i
      -  }
      - if( i >= 10 ){
        a(href="#").pagination
          | ...
        - break;
      - }
    - }
  p render all books in pagination
