extends layout

block content
  h1 Books
  if isLoggedIn
    p display trade status of my requests
    p display trade status of other user requests
    p display my books
  p display all books
  p allow query through isbn and title
