extends layout

block content
  div#indexTop
    div#graphic
      h1 Book&middot;My&middot;Life
      h2 Trade books the easy way!
      img#tree(src="trees_cm-.png")
    p#builtBy
      | built by Daniel Escobedo:@Demiacle using such and such
  div#indexBottom
    if !isLoggedIn
      div#registerForm
        h3 Register
        form(action='\auth' method='post')
          input( type='text' name='user' placeholder='name') 
          input( type='text' name='password' placeholder='password')
          input( type='submit' value='Register')
      div#loginForm
        h3 Login
        form(action='\auth' method='post')
          input( type='text' name='user' placeholder='name')
          input( type='text' name='password' placeholder='password')
          input( type='submit' value='Login')
      p.sub
        | *for demo purposes, registering any name/password will work as long as it is not already taken
    else 
      p
        | Welcome backk