extends layout

block content
  h1 profile page
  p allow update of the following:
  p first/last name
  p city
  p state
  p user name
  p password
  br
  br
  br
  br
  p books traded
  p requests made BY you
  p requests made TO you