#paginationContainer a {
  color: #066d0b;
  font-size: 14pt;
  margin-right: 10px;
  text-decoration: none;
}
.bold {
  font-weight: bold;
  text-decoration: underline !important;
}
.book {
  background-color: #f7f7f7;
  border: 1px solid #81c784;
  border-radius: 3px;
  position: relative;
}
.book:hover {
  border-color: #abe3ae;
  background-color: white;
}
.book:hover img {
  border-color: #0bd2d4;
}
.book h3 {
  padding: 6px;
  padding-top: 10px;
  text-align: center;
  min-height: 54px;
  color: #464646;
}
.book img {
  width: 128px;
  margin: auto;
  display: block;
  border: 1px solid #4caf50;
}
.book button {
  margin: auto;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  bottom: 10px;
  border-radius: 20px;
  padding: 4px;
  border: 1px solid #3b91ad;
  background-color: #5bc5e8;
  cursor: pointer;
}
.book button:hover {
  background-color: #0dace0;
}
#book-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 324px 324px 324px;
  margin: auto;
  grid-gap: 10px;
  padding: 20px;
  max-width: 900px;
}
.no-books-found {
  text-align: center;
  padding: 20px;
}
#trade-status {
  list-style-position: inside;
  width: 80%;
  margin: auto;
  margin-top: 14px;
}
#trade-status p:first-child {
  text-align: center;
  border-bottom: 1px solid #81c784;
}
#trade-status ul {
  background-color: #e4ffe5;
}
#trade-status li {
  list-style-type: circle;
  font-size: 14pt;
  padding: 2px;
}
/* THESE SLOW DOWN THINGS WHY
@media (max-width: 860px) {
  #book-grid {
    grid-template-columns: auto auto auto;
    grid-template-rows: 324px 324px 324px 324px;
  }
}
@media (max-width: 660px) {
  #book-grid {
    grid-template-columns: auto auto;
    grid-template-rows: 324px 324px 324px 324px 324px 324px;
  }
}
*/
