#paginationContainer a {
  color: #066d0b;
  font-size: 14pt;
  margin-right: 10px;
  text-decoration: none;
}

.bold {
  font-weight: bold;
  text-decoration: underline !important;
}

.book {
  background-color: blue;
  width: 20px;
  height: 20px;

}