.Home {
  text-align: center;
}
.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}
.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.Home-intro {
  font-size: large;
}
.Home-resources {
  list-style: none;
}
.Home-resources > li {
  display: inline-block;
  padding: 1rem;
}
.login-message {
  width: 80%;
  border-bottom: 1px solid #81c784;
  margin: auto;
  margin-top: 20px;
}
