.Home {
  text-align: center;
}
.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}
.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.Home-intro {
  font-size: large;
}
.Home-resources {
  list-style: none;
}
.Home-resources > li {
  display: inline-block;
  padding: 1rem;
}
#profile-form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 6px;
}
#profile-form label {
  grid-column: 1/2;
  text-align: right;
  padding: 10px;
}
#profile-form input {
  grid-column: 2/3;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
#profile-form button {
  border-radius: 20px;
  border: 1px solid #345494;
  background-color: #5bc5e8;
  height: 37px;
}
#profile-form button:hover {
  background-color: #21b6e6;
  cursor: pointer;
}
#profile-container {
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  padding: 24px;
}
#profile-stats {
  padding-top: 20px;
  border-bottom: 1px solid #81c784;
  padding-bottom: 20px;
}
#books-traded {
  display: block;
  width: 240px;
  padding: 4px;
  border-radius: 30px;
  margin: auto;
  border: 1px solid black;
  text-align: center;
}
#add-book-form {
  text-align: center;
  margin-top: 20px;
}
.my-book {
  position: relative;
  border: 1px solid black;
  display: inline-block;
}
#remove-form button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
  padding: 8px;
  cursor: pointer;
  background-color: white;
  color: red;
  border: 1px solid red;
}
#request-form button {
  display: block;
  width: 100%;
}
#my-books-title {
  margin-top: 14px;
  background-color: white;
}
@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
