.Home {
  text-align: center;
}
.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}
.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.Home-intro {
  font-size: large;
}
.Home-resources {
  list-style: none;
}
.Home-resources > li {
  display: inline-block;
  padding: 1rem;
}
#profile-form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 6px;
}
#profile-form label {
  grid-column: 1/2;
  text-align: right;
  padding: 10px;
}
#profile-form input {
  grid-column: 2/3;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
#profile-form button {
  border-radius: 20px;
  border: 1px solid #345494;
  background-color: #5bc5e8;
  height: 37px;
}
#profile-form button:hover {
  background-color: #21b6e6;
  cursor: pointer;
}
#profile-container {
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  padding: 24px;
}
#profile-stats {
  padding-top: 20px;
  border-bottom: 1px solid #81c784;
  padding-bottom: 20px;
}
#books-traded {
  display: block;
  width: 240px;
  padding: 4px;
  border-radius: 30px;
  margin: auto;
  border: 1px solid black;
  text-align: center;
}
#add-book-form {
  text-align: center;
  margin-top: 20px;
}
#add-book-form input {
  padding: 5px;
  padding-right: 60px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #c8c8c8;
}
#add-book-form button {
  padding: 6px;
  padding-right: 14px;
  border: none;
  cursor: pointer;
  background-color: #5bc5e8;
  border-radius: 0 20px 20px 0;
}
#add-book-form button:hover {
  background-color: #21b6e6;
}
.my-books {
  flex-wrap: wrap;
  display: flex;
  max-width: 732px;
  min-width: 200px;
  margin: auto;
  margin-top: 20px;
}
.my-book {
  position: relative;
  text-align: left;
  border: 1px solid #b8b8b8;
  display: inline-block;
  width: 144px;
  height: 266px;
  vertical-align: text-top;
}
.my-book img {
  border: 1px solid #b8b8b8;
  margin: auto;
  width: 130px;
  display: block;
  margin: 4px;
}
#remove-form button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
  padding: 8px;
  cursor: pointer;
  background-color: white;
  color: red;
  border: 1px solid red;
}
#request-form button {
  display: block;
  width: 98%;
  background-color: #5bc5e8;
  margin: auto;
  padding: 6px 0;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-bottom: 1px;
}
#request-form button:hover {
  background-color: #21b6e6;
}
#request-form button:last-child {
  background-color: #f44336;
}
#request-form button:last-child:hover {
  background-color: red;
}
#request-form button:disabled,
#request-form button:disabled:hover {
  background-color: #e5e5e5;
  color: #ffffff;
}
#request-form {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#my-books-title {
  margin-top: 14px;
  background-color: white;
}
@media (max-width: 634px) {
  .my-books {
    width: 440px;
  }
}
